{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block current_app_content %}
<div class="card">
    <div class="card-header">
        <h1 class="card-title">{{ title }}</h1>
    </div>
    <div class="card-body">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">{{ _('Photo') }}</th>
                <th scope="col">{{ _("Item") }}</th>
                <th scope="col">{{ _("Item Status") }}</th>
                <th scope="col">{{ _("Donate Status") }}</th>
                {#                <th scope="col">transaction date and time</th>#}
            </tr>
            </thead>
            <tbody>
            {% for service in services %}
                <tr>
                    {% if service.donate_status.id == 2 %}
                        <!--test-->
                        <td>
                            <img class="img-thumbnail" style="height: 50px" src="{{ image('donate_photo/' + service.photo) }}">
                        </td>
                        <!--local-->
                        {#                        <td>#}
                        {#                            <img class="img-thumbnail" style="height: 50px"#}
                        {#                                 src="{{ url_for ('static', filename='donate_photo/' + service.photo) }}">#}
                        {#                        </td>#}
                        <!--cloud-->
                        {#                        <td>#}
                        {#                            <img class="img-thumbnail" style="height: 50px"#}
                        {#                                 src="{{ url_for ('static', filename='storage/pictures/donate_photo/' + service.photo) }}">#}
                        {#                        </td>#}
                        <td>{{ service.item.item_name }}</td>
                        <td>{{ service.item_status.item_Status }}</td>
                        <td>
                            <a href="{{ url_for('donate.donate_item', data_id=service.application_id, item_id=service.item_id) }}"
                               class="btn btn-outline-primary">{{ service.donate_status.status }}</a>
                        </td>
                        {#                    <td>{{ time }}</td>#}
                    {% else %}
                        <!--test-->
                        <td>
                            <img class="img-thumbnail" style="height: 50px" src="{{ image('donate_photo/' + service.photo) }}">
                        </td>
                        <!--local-->
                        {#                        <td>#}
                        {#                            <img class="img-thumbnail" style="height: 50px"#}
                        {#                                 src="{{ url_for ('static', filename='donate_photo/' + service.photo) }}">#}
                        {#                        </td>#}
                        <!--cloud-->
                        {#                        <td>#}
                        {#                            <img class="img-thumbnail" style="height: 50px"#}
                        {#                                 src="{{ url_for ('static', filename='storage/pictures/donate_photo/' + service.photo) }}">#}
                        {#                        </td>#}
                        <td>{{ service.item.item_name }}</td>
                        <td>{{ service.item_status.item_Status }}</td>
                        <td>{{ service.donate_status.status }}</td>
                        {#                    <td>{{ time }}</td>#}
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <a href="{{ url_for('donate.donate_view') }}">
            <button type="button" class="btn btn-primary btn-lg btn-block">{{ _('Back') }}</button>
        </a>
    </div>
</div>
{% endblock %}
