{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block current_app_content %}
{#    {% if current_user.confirm == True %}#}
<!-- Extra large modal -->
<div class="card">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".docs-example-modal-xl">{{ _("View the demo tutorial") }}</button>
</div>
<div class="modal fade docs-example-modal-xl" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title h6" id="myExtraLargeModalLabel">{{ _("Video demo tutorial") }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/N5543z9AMDE" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            </div>
        </div>
    </div>
</div>
    <div class="row">
        <div class="col-md-12">
            <div class="card my-4 shadow-sm ">
                <div class="card-body">
                    <nav class="nav">
                        <!-- Example: -->
                        <!-- <a class="nav-link"  tabindex="-1" aria-disabled="true">-</a> -->
                        <!-- <a class="nav-link active" aria-current="page" href="#">Step 1</a> -->
                        <!-- <span class="badge bg-secondary">Step 1</span> -->
                        <a class="nav-link {{'disabled' if not remindbox == 'donate_step1'}}">
                            <span class="badge {{'bg-secondary' if not remindbox == 'donate_step1' else 'badge-soft-primary'}}">{{_("建議步驟一")}}</span>
                            <p>{{_("捐贈者可以按以下「立即捐贈」按鈕捐贈物件")}}</p>
                        </a>
                        <a class="nav-link disabled" >-</a>
                        <a class="nav-link {{'disabled' if not remindbox == 'donate_step2'}}">
                            <span class="badge {{'badge-soft-primary' if not remindbox == 'donate_step2' else 'badge-soft-primary'}}">{{_("步驟二")}}</span>
                            <p>{{_("捐贈者在學生故事中選擇心儀的學生來捐贈物件")}}</p>
                        </a>
                        <a class="nav-link disabled">-</a>
                        <a class="nav-link {{'disabled' if not remindbox == 'donate_step3'}}">
                            <span class="badge {{'bg-secondary' if not remindbox == 'donate_step3' else 'badge-soft-primary'}}">{{_("步驟三（選項）")}}</span>
                            <p>{{_("捐贈者可以查看已捐贈的狀態或根據步驟一重新捐贈物件")}}</p>
                        </a>
                      </nav>
                </div>
            </div>
        </div>
    </div>
        <!-- <div class="category-card card-deck mb-3 text-center"> -->
            <div class="row justify-content-center text-center">
                {% for category in categorys %}
                    <div class="col-lg-4 col-sm-6">
                        <div class="card my-4 shadow-sm hover-shadow-lg hover-translate-y-n10">
                            <div class="card-header">
                                <h4 class="my-0 font-weight-normal">{{ _(category.name) }}</h4>
                            </div>
                            <div class="card-body">
                                <u1 class="mt-6 mb-4 h-4">{{ _(category.body) }}</u1>
                            </div>
                            <div class="card-body">
                                <button type="button" onclick="location.href='{{ category.link_name }}' "
                                        class="btn btn-md btn-block btn-outline-primary  mt-3">{{ _(category.act) }}
                                </button>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        <!-- </div> -->
        <!-- <div class="row">
            <div class="col-md-12">
                <a href="{{ url_for('donate.donate_view') }}">
                    <button type="button" class="btn btn-primary btn-lg btn-block">Back</button>
                </a>
            </div>
        </div> -->
    <iframe src='https://webchat.botframework.com/embed/ishare-Web-bot?s={{ key }}'  style='min-width: 400px; width: 100%; min-height: 500px;'></iframe>
{% endblock %}