{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block current_app_content %}

    <div class="row">

            <table class="table">
                <thead>
                <tr>
                    <th scope="col">{{ _('Student Name') }}</th>
                    <th scope="col">{{ _('username') }}</th>
                    <th scope="col">{{ _('Teacher Email') }}</th>
                    <th scope="col">{{ _('Phone Number') }}</th>
                    <th scope="col">{{ _('School Name') }}</th>
                    <th scope="col">{{ _('School Adress') }}</th>
                    <th scope="col">{{ _('School URL') }}</th>
                    <th scope="col">{{ _('Permission State') }}</th>
                    <th scope="col">{{ _('Permission Date') }}</th>
                </tr>
                </thead>
                {% for teacher_record in records %}
                    <tbody>
                        <tr>
                            <td>{{ teacher_record.full_name }}</td>
                            <td>{{ teacher_record.username }}</td>
                            <td>{{ teacher_record.email }}</td>
                            <td>{{ teacher_record.phone_number }}</td>
                            <td>{{ teacher_record.school_name }}</td>
                            <td>{{ teacher_record.school_address }}</td>
                            <td>{{ teacher_record.school_URL }}</td>
                            <td>{{ teacher_record.apply_status.status }}</td>
                            <td>{{ teacher_record.idtime }}</td>
                        </tr>
                    </tbody>
                {% endfor %}
            </table>
    </div>
    <div>
        {% if records %}
        {% else %}
            {{ _('No Record') }}
        {% endif %}
    </div>
{% endblock %}